.ui-popup-overflow-hidden {
  overflow: hidden;
}

.ui-popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 2000;

  .overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
  }

  .window {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    max-height: 90%;
    overflow-y: scroll;
    background: #fff;
    box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, .5);
    padding: 30px;

    &::-webkit-scrollbar {
      width: 6px;
      background-color: #F5F5F5;
    }

    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 2px rgba(0, 0, 0, .15);
      background-color: #f5f5f5;
    }

    &::-webkit-scrollbar-thumb {
      box-shadow: inset 0 0 3px rgba(0, 0, 0, .15);
      background-color: #555;
    }

    .close {
      width: 26px;
      height: 26px;
      display: block;
      border-radius: 50%;
      text-align: center;
      opacity: 1;
      line-height: 24px;
      border: 1px solid;
      font-weight: normal;

      &:hover {
        opacity: 0.6;
        cursor: pointer;
      }
    }

    .title {
      margin: 0;
    }

    hr {
      border-top: 1px solid #cbcbcb;
    }
  }
}
