.alert-component {
  position: fixed;
  bottom: 0;
  width: 50%;
  left: 50%;
  transform: translate(-50%, 100%);
  transition: all 0.25s ease-out;
  z-index: 1000;

  &.open {
    transform: translate(-50%, 0%);
  }
}
