.app-component {
  .article-card {
    position: relative;

    &:hover {
      .article-actions {
        top: 9px;
        opacity: 1;
        z-index: 2;
      }
    }

    .edit-form {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgba(255, 255, 255, 0.8);

      .edit-form-groups {
        position: absolute;
        top: 61px;
        height: 100%;
        width: 80%;
        left: 50%;
        transform: translateX(-50%);

        .description-input {
          margin-top: 9px;
          margin-bottom: 9px;
          height: calc(100% - 294px);

          textarea {
            height: 100%;
            resize: none;
          }
        }
      }
    }

    .thumbnail {
      position: relative;
      overflow: hidden;
    }

    .rating-field {
      padding: 0 9px;
    }

    .caption {
      position: relative;

      .tags-edit {
        margin: 0;
        padding: 2px 6px;
        height: 22px;
        font-size: 15px;
      }

      .title-edit {
        margin: 21px 0 10.5px 0;
        padding: 2px 6px;
        height: 28px;
      }

      .description-edit {
        margin: 0 0 10.5px;
        padding: 0 6px;
        height: 21px;
        resize: vertical;
        font-size: 14px;
      }
    }

    .author-field {
      position: absolute;
      right: 9px;
      bottom: 9px;

      .createdts-bar {
        font-size: small;
        color: grey;
      }
    }

    .article-actions {
      position: absolute;
      top: -45px;
      left: 50%;
      transform: translateX(-50%);
      opacity: 0;
      transition: all 0.25s ease-out;
    }

    .tags-list {
      .btn {
        margin-right: 4px;
        display: inline;
        padding: .2em .6em .3em;
        font-size: 10px;
        font-weight: bold;
        line-height: 1;
        color: #ffffff;
        text-align: center;
        white-space: nowrap;
        vertical-align: baseline;
        border-radius: .25em;
      }
    }
  }
}
