.loader-component {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 1;

  .cssload-container * {
    box-sizing: border-box;
  }

  .cssload-container {
    margin: 19px auto 0 auto;
    max-width: 545px;
  }

  .cssload-container ul li {
    list-style: none;
  }

  .cssload-flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .cssload-flex-container li {
    padding: 10px;
    height: 97px;
    width: 97px;
    margin: 29px 19px;
    position: relative;
    text-align: center;
  }

  .cssload-loading-center {
    display: inline-block;
    position: absolute;
    background: rgb(0, 0, 0);
    height: 29px;
    width: 29px;
    left: 35px;
    top: 36px;
    transform: rotate(45deg);
    border-radius: 3px;
    animation: pulse 1.15s ease infinite;
  }

  .cssload-loading {
    display: inline-block;
    position: relative;
    width: 73px;
    height: 73px;
    margin-top: 3px;
    transform: rotate(45deg);
  }

  .cssload-loading:after, .cssload-loading:before {
    position: absolute;
    content: '';
    height: 10px;
    width: 10px;
    display: block;
    top: 0;
    background: rgb(0, 0, 0);
    border-radius: 3px;
    animation-delay: -.5 .75s;
  }

  .cssload-loading:after {
    right: 0;
    animation: square-tr 2.3s ease infinite;
    animation-delay: .143 .75s;
  }

  .cssload-loading:before {
    animation: square-tl 2.3s ease infinite;
    animation-delay: .143 .75s;
  }

  .cssload-loading.cssload-two {
    position: relative;
    top: -78px;
  }

  .cssload-loading.cssload-two:after, .cssload-loading.cssload-two:before {
    bottom: 0;
    top: initial;
  }

  .cssload-loading.cssload-two:after {
    animation: square-br 2.3s ease infinite;
    animation-direction: reverse;
  }

  .cssload-loading.cssload-two:before {
    animation: square-bl 2.3s ease infinite;
    animation-direction: reverse;
  }

  @keyframes square-tl {
    0% {
      transform: translate(0, 0);
    }
    25% {
      transform: translate(0, 60.5px);
    }
    50% {
      transform: translate(60.5px, 60.5px);
    }
    75% {
      transform: translate(60.5px, 0);
    }
  }

  @keyframes square-bl {
    0% {
      transform: translate(0, 0);
    }
    25% {
      transform: translate(0, -60.5px);
    }
    50% {
      transform: translate(60.5px, -60.5px);
    }
    75% {
      transform: translate(60.5px, 0);
    }
  }

  @keyframes square-tr {
    0% {
      transform: translate(0, 0);
    }
    25% {
      transform: translate(-60.5px, 0);
    }
    50% {
      transform: translate(-60.5px, 60.5px);
    }
    75% {
      transform: translate(0, 60.5px);
    }
  }

  @keyframes square-br {
    0% {
      transform: translate(0, 0);
    }
    25% {
      transform: translate(-60.5px, 0);
    }
    50% {
      transform: translate(-60.5px, -60.5px);
    }
    75% {
      transform: translate(0, -60.5px);
    }
  }

  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  @keyframes pulse {
    0%, 100% {
      transform: scale(inherit) rotate(45deg);
    }
    75% {
      transform: scale(0.25) rotate(45deg);
    }
  }
}
