.ui-context-menu {
  display: block;
  width: 300px;
  position: absolute;
  background-color: #f9f9f9;
  border: 1px solid #e2e2e2;
  box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.09);
  padding: 20px;
  z-index: 1000;

  &::-webkit-scrollbar {
    width: 8px;
    background-color: #F5F5F5;
  }

  &::-webkit-scrollbar-track {
    border-left: 2px solid #fff;
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.15);
    background-color: #f5f5f5;
  }

  &::-webkit-scrollbar-thumb {
    border-left: 2px solid #fff;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .15);
    background-color: #555;
  }
}
